/* ---------------------------
- Tags gerais
-----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", 'Times New Roman';
}



/* ---------------------------
- Footer Desktop
-----------------------------*/
footer {
    color: #FFFFFF;
    font-family: 'Bebas Neue', cursive;
    background-image: url("../img/fundos_bordas/borda_rodape.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -100px;
    height: 200px;
}

.footer_container_itens {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 90px;
}

.icons_footer {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.icons_footer img {
    height: 40px;
}



/* ---------------------------
- Menu Desktop
-----------------------------*/
.menu{
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(67, 48, 107, 0.8);
    top: 0;
    right: 0;
    z-index: 100;
    opacity: 1;
    overflow: auto;
    display: flex;
    justify-content: flex-end;
    display: none;
}

.links_menu {
    height: 100%;
    width: 40%;
    float: right;
    background-image: url("../img/fundos_bordas/fundo_menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1.0;
}

.menu div a {
    margin-top: 30px;
}

.btn_close {
    color:#fff;
    float: left;
    cursor: pointer;
    margin: 2% 0 0 50%;
}

.menu ul {
    width: 100%;
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 102;
    text-align: left;
}

.menu li {
    padding: 1.5%;
    z-index:103;
    margin-top: 20px;
    margin-left: 50px;
}

.menu li a {
    font-size: 80px;
    padding: 1.5% 3%;
    text-decoration: none;
    z-index: 104;
    color: #43306B;
    font-family: 'Bebas Neue', cursive;
}

.menu li a:hover {
    text-decoration: underline;
}



/* ---------------------------
- Home Desktop
-----------------------------*/
.header_home {
    width: 100%;
    height: 200px;
    background-image: url("../img/fundos_bordas/borda_header_home.png");
    background-position-y: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: relative;
}

/* segura menu home desktop */
.btn_menu {
    height: 25px;
    width: 35px;
    margin-right: 60px;
    margin-top: -125px;
}

.btn_menu img {
    height: 25px;
    width: 35px;
}


/* Logo home desktop */
#segura_logo {
    margin-left: 40px;
    margin-top: 5px;
}

.mob-none {
    display: flex;
}

.desk-none {
    display: none;
}

#logo {
    width: 180px;
    height: 180px;
}

#logo img {
    width: 100%;
}

/* Video desktop */
#container_video {
    width: 100%;
    margin-top: -140px;
    z-index: -10;
}

#container_video video {
    width: 100%;
}

/* bordas home desktop*/
#borda_central_superior {
    height: 90px;
    position: relative;
    margin-top: -60px;
    background-image: url("../img/fundos_bordas/borda_home_inferior_video.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    z-index: 95;
}

#borda_central_inferior {
    height: 160px;
    background-image: url("../img/fundos_bordas/borda_horizonal_superior_home.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    margin-top: -23px;
    position: relative;
    z-index: 99;
}

/*home infos desktop*/
#home_inicio_tudo, #home_sob_festival {
    background-image: url("../img/fundos_bordas/fundo_cinza.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

#home_inicio_tudo {
    padding-top: 80px;
    margin-top: -84px;
    z-index: -99;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.home_tit_inicio_tudo {
    height: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_tit_inicio_tudo h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 1;
    padding: 55px 30px;
    color: #242663;
    width: 60%;
    background-image: url('../img/fundos_bordas/fundo_titulo_v1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

.home_txt_inicio_tudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-height: 600px;   
}

.icon_btn_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    order: 1;
}

.icon_btn_home img{
    height: 290px;
}

.icon_btn_home a {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    background-color: #242663;
    height: 45px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-top: -40px;
}

.icon_btn_home a p {
    font-family: 'Bebas Neue', cursive;
    padding: 0;
    font-size: 18px;
}

.fundo_txt_ini_tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 450px;
    background-image: url('../img/fundos_bordas/home_fundo_texto.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    order: 2;
}

.fundo_txt_ini_tudo  p {
    width: 70%;
    text-align: center;
    color: #242663;
}

.home_tit_inicio_tudo a{
    margin: 20px 0;    
}

.home_tit_inicio_tudo a p {
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    height: 45px;
    width: 150px;
    background-color: #242663;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

#home_sob_festival {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home_sob_festival img {
    position: relative;
    width: 770px;
    margin-left: -100px;
    margin-bottom: -128px;
}

#home_sob_festival h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 1;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px; 
    color: #242663;
    line-height: 1;
    padding: 61px 30px;
    background-image: url("../img/fundos_bordas/fundo_titulo_v2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 0;
    margin-top: -200px;
}

.txt_teste p {
    font-style: italic;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 1px 1px 5px rgba(2, 0, 0, 1);
    margin-top: -10px;
} 

#home_sob_festival a {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    margin-bottom: 70px;
    height: 45px;
    width: 150px;
    background-color: #242663;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ---------------------------
- Historia Desktop
-----------------------------*/
#main_historia {
    background-image: url("../img/fundos_bordas/fundo_cinza.jpg");
    background-size: cover;
    margin-top: -180px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
}

.borda_historia {
    width: 80%;
    height: 100%;
    background-image: url("../img/fundos_bordas/borda_vertical_v2.png");
    background-size: contain;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo_historia {
    width: 70%;
    margin-top: 200px;
    line-height: 1.5;
}

.conteudo_historia div {
    text-align: center;
}

.conteudo_historia h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 1;
    font-weight: 100;
}

.conteudo_historia p {
    margin-top: 30px;
}

.conteudo_historia img {
    width: 80%;
    margin: 30px 0;
}

.conteudo_historia figcaption {
    text-align: center;
    margin-top: -30px;
}

.espaco_footer {
    padding-bottom: 100px;
}



/* ---------------------------
- Curiosidades Desktop
-----------------------------*/
#main_curiosidades {
    background-image: url("../img/fundos_bordas/fundo_cinza.jpg");
    background-size: cover;
    margin-top: -180px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
}

.titulo_curiosidades h1{
    margin-top: 200px;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 1;
    padding: 55px 30px;
    color: #242663;
    width: 100%;
    background-image: url('../img/fundos_bordas/fundo_titulo_v1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

/* .icon_titulo_curiosidades {
    position: relative;
    margin-top: -225px;
    width: 70%;
    margin-left: 10px;
} */

/* .icon_titulo_curiosidades img {
    width: 100%;
} */

.textos_curiosidades p, .textos_curiosidades h2{
    /* text-shadow: 2px 2px 5px rgba(2, 0, 0, 1); */
    text-shadow: 2px 2px 8px #000000;
}

.textos_curiosidades {
    margin-top: 60px;
    width: 70%;
    text-align: center;
}

.textos_curiosidades h2 {
    font-size: 25px;
    font-weight: 100;
    padding-bottom: 40px;
}

.textos_curiosidades p {
    margin: 40px 0;
}

.textos_curiosidades img {
    margin: 20px 0;
}

.img_curiosidades {
    width: 70%;
}

.img_curiosidades img {
    width: 100%;
}



/* ---------------------------
- Menu Desktop
-----------------------------*/
#main_qm_somos {
    background-image: url("../img/fundos_bordas/fundo_cinza.jpg");
    background-size: cover;
    margin-top: -180px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
}

.quem_somos_itens {
    margin-top: 200px;
    background-image: url("../img/fundos_bordas/borda_horizontal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tit_qm_somos h1 {
    margin-top: 100px;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 1;
    font-weight: normal;
}

.img_qm_somos {
    /* flex-wrap: wrap; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
}

.img_qm_somos img {
    width: 100%;
}

.top_qms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 600px;
    height: auto;
    align-items: center;
}

.bottom_qms {
    min-height: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.center_qms {
    min-height: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.termo {
    text-shadow: 1px 1px 5px rgba(2, 0, 0, 1);
    width: 90%;
    /* padding: 30px; */
}



/* ---------------------------
- Galeria Desktop
-----------------------------*/
#main_galeria_fotos {
    background-image: url("../img/fundos_bordas/fundo_cinza.jpg");
    background-size: cover;
    margin-top: -180px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
}

 #main_galeria_fotos h1 {
    margin-top: 200px;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 1;
    padding: 20px;
    color: #242663;
    width: 60%;
    background-image: url('../img/fundos_bordas/fundo_titulo_v1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

.imageGallery1 {
    overflow: hidden; 
    margin: 30px 0;
    width: 100%;
    background-color: #FFFFFF;
    padding: 2px 0;
}

.imageGallery1 > a {
    float: left; 
    width: 25%; 
    padding: 2px;
    box-sizing: border-box; 
    position: relative;
}

.imageGallery1 > a:first-child { left: -1px; }
.imageGallery1 > a:last-child { right: -1px; }

.imageGallery1 > a > img {
    display: block; 
    width: 100%;
}

.slbOverlay {
    background-color: rgba(67, 48, 107, 0.8);
}



/*---------------------
- Lista de reprodução
---------------------*/
.header_lista_rep {
    width: 100%;
    height: 200px;
    background-image: url("../img/fundos_bordas/bg_branco_desk.jpg");
    background-position-y: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_lista_rep #logo img{
    width: 150px;
    height: 150px;
}

.header_lista_rep .btn_menu {
    height: 25px;
    width: 35px;
    margin-right: 40px;
    margin-top: -70px;
}

.main_playlist {
    width: 100%;
    background-image: url("../img/fundos_bordas/bandai_borda_inferior.png");
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    z-index: 10;
    position: relative;
    margin-top: -70px;
}

.segura_img {
    width: 30%;
    height: auto;
    margin-top: 100px;
}

#playlist_geral{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#playlist_geral h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    line-height: 1;
    color: #FFFFFF;
    font-weight: 100;
}

#playlist_geral p {
    color: #FFFFFF;
    font-size: 16px;
}

#playlist_geral iframe {
    width: 90%;
    min-height: 400px;
    height: auto;
}

.p_img_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p_img_lado {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

.segura_img img {
    height: 230px;
}

.icons_bottom {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 150px;
    width: 60%;

    margin-bottom: 30px;
}

.icons_bottom img {
    height: 40px;
}

@media (min-width: 1025px) and (max-width: 1460px) {
    #playlist_geral {
        width: 35%;
    }

    #playlist_geral h1 {
        text-align: center;
    }

    .segura_img img {
        height: 195px;
    }
}


/************************************
* DESKTOP MENOR
************************************/
@media (min-width: 1025px) and (max-width: 1400px) {
    .btn_close{
        margin: 2% 0 0 30%;
    }

    .links_menu {
        width: 60%;
    }



    /* ---------------------------
    - Home Desktop Menor
    -----------------------------*/
    .header_home {
        height: 150px;
    }

    #segura_logo {
        margin-top: 0;
    }

    .btn_menu {
        margin-top: -80px;
    }

    #logo {
        width: 150px;
        height: 150px;
    }

    #borda_central_superior {
        height: 70px;
        margin-top: -68px;
    }

    #borda_central_inferior {
        height: 120px;
        margin-top: -6px;
    }

    .home_tit_inicio_tudo {
        padding-top: 60px;
    }

    .home_tit_inicio_tudo h2{
        font-size: 60px;
    }

    .home_txt_inicio_tudo {
        min-height: 550px;
    }

    .icon_btn_home img{
        height: 265px;
    }

    .fundo_txt_ini_tudo{
        width: 55%;
    }

    #home_sob_festival img {
        width: 533px;
        margin-left: -122px;
        margin-bottom: -58px;
    }

    #home_sob_festival h2{
        font-size: 60px;
    }

    #home_sob_festival a {
        margin-bottom: 15px;
    }

    .icons_footer {
        width: 50%;
    }



    /* ---------------------------
    - Historia Desktop Menor
    -----------------------------*/
    #main_historia {
        font-size: 18px;
    }

    .conteudo_historia img {
        width: 90%;
    }
    
    .borda_historia {
        width: 90%;
    }
    
    
    
    /* ---------------------------
    - Curiosidades Desktop Menor
    -----------------------------*/
    .titulo_curiosidades h1 {
        font-size: 60px;
    }

    #main_curiosidades{
        font-size: 18px;
    }

    .textos_curiosidades {
        margin-top: 0;
    }

    .img_curiosidades {
        width: 80%;
    }

    .img_qm_somos {
        flex-wrap: wrap;
    }

    .top_qms {
        min-height: 400px;
        height: auto;
        margin: 40px 0;
    }
    
    .bottom_qms {
        margin: 40px 0;
        min-height: 400px;
        height: auto;
    }
    
    .center_qms {
        min-height: 400px;
        height: auto;
        margin: 40px 0;
    }

    .termo p{
        padding: 0px;
    }

    #main_galeria_fotos h1 {
        font-size: 60px;
    }
}



/************************************
* CSS TABLET
************************************/

/* 
    ##Device = Tablets, Ipads
    ##Screen = B/w 768px to 1024px
*/

  
@media (min-width: 768px) and (max-width: 1024px) {
    .btn_close{
        margin: 2% 0 0 30%;
    }

    .links_menu {
        width: 60%;
    }

    .menu li a {
        font-size: 60px;
    }



    /* ---------------------------
    - Home Tablet
    -----------------------------*/
    .header_home {
        height: 110px;
        background-image: url("../img/fundos_bordas/borda_header_home_mobile.png");
    }

    .btn_menu {
        margin-top: -50px;
    }

    .mob-none {
        display: none;
    }

    .desk-none {
        display: flex;
    }

    #logo {
        width: 90px;
        height: 90px;
        margin-bottom: 28px;
    }

    #container_video {
        margin-top: -48px;
    }

    #borda_central_superior {
        height: 70px;
        margin-top: -68px;
    }

    #borda_central_inferior {
        height: 120px;
        margin-top: -6px;
    }

    .home_tit_inicio_tudo {
        padding-top: 60px;
        width: 70%;
    }

    .home_tit_inicio_tudo h2{
        font-size: 60px;
    }

    .home_txt_inicio_tudo {
        min-height: 550px;
        flex-direction: column;
    }

    .icon_btn_home {
        order: 2;
    }

    .icon_btn_home img{
        height: 265px;
    }

    .fundo_txt_ini_tudo{
        width: 100%;
        order: 1;

    }

    #home_sob_festival img {
        width: 533px;
        margin-left: -122px;
        margin-bottom: -58px;
    }

    #home_sob_festival h2{
        font-size: 60px;
    }

    #home_sob_festival a {
        margin-bottom: 15px;
    }

    
    
    
    /* ---------------------------
    - Footer Tablet
    -----------------------------*/
    .footer_container_itens {
        width: 70%;
    }
    
    .icons_footer {
        width: 50%;
    }
    
    
    
    /* ---------------------------
    - Historia Tablet
    -----------------------------*/
    #main_historia {
        font-size: 16px;
    }
    
    #main_galeria_fotos h2{
        font-size: 60px;
    }

    .conteudo_historia img {
        width: 100%;
    }

    .borda_historia {
        width: 90%;
    }



    /* ---------------------------
    - Curiosidades Tablet
    -----------------------------*/
    .titulo_curiosidades h1 {
        font-size: 60px;
        padding: 20px;
    }

    .textos_curiosidades h2 {
        font-size: 20px;
    }

    #main_curiosidades{
        font-size: 18px;
    }

    .textos_curiosidades {
        margin-top: 0;
    }

    .img_curiosidades {
        width: 85%;
    }

    .img_qm_somos {
        flex-wrap: wrap;
    }

    .top_qms {
        min-height: 400px;
        height: auto;
        margin: 40px 0;
    }
    
    .bottom_qms {
        margin: 40px 0;
        min-height: 400px;
        height: auto;
    }
    
    .center_qms {
        min-height: 400px;
        height: auto;
        margin: 40px 0;
    }

    .termo p{
        padding: 0px;
    }
    
}

/************************************
* CSS MOBILE
************************************/
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .btn_close{
        margin: 2% 0 0 10%;
    }

    .btn_close img {
        height: 55px;
        width: auto;
    }

    .links_menu {
        width: 75%;
    }

    .menu li a {
        font-size: 60px;
    }
    /* ---------------------------
    - Home Mobile
    -----------------------------*/
    .header_home{
        background-image: url("../img/fundos_bordas/borda_header_home_mobile.png");

        height: 110px;
    }

    .btn_menu {
        margin-right: 30px;
        margin-top: -20px;
    }

    #logo {
        width: 90px;
        height: 90px;
        margin-top: -20px;
        margin-left: -20px;
    }

    .mob-none {
        display: none;
    }

    .desk-none {
        display: flex;
    }

    #borda_central_superior{
        height: 68px;
        background-image: url("../img/fundos_bordas/borda_home_inferior_video.png");
    }

    #borda_central_inferior {
        height: 80px;
        margin-top: -6px;
        background-image: url("../img/fundos_bordas/borda_horizontal_superior_home_mobile.png");
    }

    #home_inicio_tudo, #home_sob_festival {
        background-image: url("../img/fundos_bordas/fundo_home_mobile.jpg");
    }

    .home_tit_inicio_tudo {
        width: 100%;
    }

    .home_tit_inicio_tudo h2{
        font-size: 43px;
    }

    .home_txt_inicio_tudo{
        flex-direction: column;
    }

    .fundo_txt_ini_tudo {
        width: 100%;
        order: 1;
        padding: 15px;
        height: 343px;
    }

    .icon_btn_home {
        order: 2;

        margin-bottom: 20px;
    }

    #home_sob_festival {
        min-height: 500px;
    }

    #home_sob_festival h2 {
        font-size: 43px;
        margin-left: 25px;
    }

    #home_sob_festival img {
        width: 389px;
        margin-left: -64px;
        margin-bottom: -9px;
    }

    #home_sob_festival a {
        margin-bottom: 15px;
    }



    /* ---------------------------
    - Curiosidades Mobile
    -----------------------------*/
    .titulo_curiosidades h1 {
        font-size: 42px;
        padding: 20px;
    }

    .textos_curiosidades h2 {
        font-size: 20px;
    }

    #main_curiosidades{
        font-size: 16px;
    }

    .textos_curiosidades {
        margin-top: 0;
    }

    .img_curiosidades, .img_curiosidades_menor {
        width: 100%;
    }
    
    .img_curiosidades img, .img_curiosidades_menor img{
        width: 100%;
    }



    /* ---------------------------
    - Footer Mobile
    -----------------------------*/
    footer {
        height: 160px;
    }

    .icons_footer {
        width: 85%;
    }

    .footer_container_itens {
        margin-top: 60px;
    }


    #main_historia {
        font-size: 16px;
    }

    .conteudo_historia img {
        width: 100%;
    }

    .borda_historia {
        width: 95%;
    }

    .tit_qm_somos h1 {
        margin-top: 150px;
        font-size: 60px;
    }

    .img_qm_somos {
        flex-wrap: wrap;
    }

    .top_qms {
        min-height: 400px;
        height: auto;
        margin: 40px 0;
    }
    
    .bottom_qms {
        margin: 40px 0;
        min-height: 400px;
        height: auto;
    }
    
    .center_qms {
        min-height: 400px;
        height: auto;
        margin: 40px 0;
    }

    .imageGallery1 > a {
        float: left; 
        width: 50%; 
        padding: 2px;
        box-sizing: border-box; 
        position: relative;
    }

    #main_galeria_fotos h1 {
        font-size: 40px;
    }
}
  
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .btn_close{
        margin: 2% 0 0 0;
    }

    .btn_close img {
        height: 55px;
        width: auto;
    }

    .links_menu {
        width: 80%;
    }

    .menu li a {
        font-size: 40px;
    }
    /* ---------------------------
    - Home Mobile
    -----------------------------*/
    .header_home{
        background-image: url("../img/fundos_bordas/borda_header_home_mobile.png");
        height: 100px;
    }

    .btn_menu {
        margin-right: 30px;
        margin-top: -20px;
    }

    #logo {
        width: 90px;
        height: 90px;
        margin-top: -20px;
        margin-left: -20px;
    }

    .mob-none {
        display: none;
    }

    .desk-none {
        display: flex;
    }

    #borda_central_superior{
        height: 68px;
        background-image: url("../img/fundos_bordas/borda_home_inferior_video.png");
    }

    #borda_central_inferior {
        height: 80px;
        margin-top: -4px;
        background-image: url("../img/fundos_bordas/borda_horizontal_superior_home_mobile.png");
    }

    #home_inicio_tudo, #home_sob_festival {
        background-image: url("../img/fundos_bordas/fundo_home_mobile.jpg");
    }

    .home_tit_inicio_tudo {
        width: 100%;
        height: 80px;
    }

    .home_tit_inicio_tudo h2{
        font-size: 26px;
    }

    .home_txt_inicio_tudo{
        flex-direction: column;
    }

    .fundo_txt_ini_tudo {
        width: 100%;
        order: 1;
        padding: 15px;
        height: 343px;
        background-size: contain;
        background-image: url("../img/fundos_bordas/home_fundo_texto_mobile.png");
    }

    .fundo_txt_ini_tudo p {
        width: 100%;
        padding: 10px 45px;
    }

    .icon_btn_home {
        order: 2;
        margin-bottom: 20px;
    }

    .icon_btn_home a {
        font-size: 18px;
        height: 40px;
        width: 120px;
    }

    .icon_btn_home img {
        height: 220px;
    }

    #home_sob_festival {
        min-height: 430px;
    }

    #home_sob_festival h2 {
        font-size: 26px;
        margin-left: 25px;
        padding: 57px 23px;
    }

    #home_sob_festival img {
        width: 253px;
        margin-left: -36px;
        margin-bottom: 47px;
    }

    #home_sob_festival a {
        margin-bottom: 15px;
        font-size: 18px;
        height: 40px;
        width: 120px;
    }


    /* ---------------------------
    - Footer Mobile
    -----------------------------*/
    footer {
        height: 160px;
    }

    .icons_footer {
        width: 100%;
    }

    .footer_container_itens {
        width: 80%;
        margin-top: 60px;
    }

    #main_historia {
        font-size: 16px;
    }

    .conteudo_historia img {
        width: 100%;
    }

    .borda_historia {
        width: 95%;
    }


    
    /* ---------------------------
    - Lista de Reprodução Desktop
    -----------------------------*/
    #img_bandas_menu{
        display: flex;
        
        background-image: url("../img/fundos_bordas/fundo_pixelado.jpg");
    }

    /* #img_bandas_menu img {
        width: 100%;
    } */

    #linha_esquerda, #linha_direita {
        width: 50%;
    }

    

    #linha_direita {
        background: coral;
    }

    .ozzy {
        z-index: 1;
        position: absolute;
    }

    .iron {
        z-index: 2;
        position: absolute;
    }

    .scorpions {
        z-index: 3;
        position: absolute;
    }

    .queen {
        z-index: 4;
        position: absolute;
    }

    .acdc {
        z-index: 5;
        position: absolute;
    }


    #playlist_geral {
        /* define cor de fundo */
        background-color: #43306B;
        /* cor do texto */
        color: #ffffff;
        
        /* deixa display responsivo e alinha o conteudo */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #playlist_geral h1 {
        font-weight: normal;
    }

    #playlist_geral iframe {
        padding: 0 0 30px 0;
        width: 60%;

        height: 500px;
    }

    /* ---------------------------
    - Banda Detalhe Desktop
    -----------------------------*/
    .segura_info {
        display: flex;
        flex-direction: column;

        background-image: url("../img/fundos_bordas/bandai_borda_inferior.png");
        background-position-x: center;
    }

    .segura_info h1 {
        text-align: center;

        margin: 75px 0 20px 0;
        padding: 15px;

        color: #FFFFFF;

        letter-spacing: 2px;

        font-size: 70px;

        font-weight: normal;
    }

    .segura_img_txt {
        width: 60%;
        display: flex;
        margin-left: auto;
        margin-right: auto;

        justify-content: space-around;

        text-align: center;
        align-items: center;

        /* background-color: coral; */
        padding: 0 0 30px 0;
    }

    .segura_img_txt  img {
        width: 30%;
        /* background-color: crimson; */
    }

    .segura_img_txt  p {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        width: 50%;
        color: #FFFFFF;
        /* background-color: darkgrey; */

        padding: 15px;

        font-weight: 100;
    }

    /* ---------------------------
    - Curiosidades Mobile
    -----------------------------*/
    .titulo_curiosidades {
        width: 90%;
    }

    .textos_curiosidades {
        width: 90%;
    }
    
    .titulo_curiosidades h1 {
        padding: 15px 0;
        font-size: 30px;
    }

    .textos_curiosidades h2 {
        font-size: 18px;
    }

    #main_curiosidades{
        font-size: 16px;
    }

    .textos_curiosidades {
        margin-top: 0;
    }

    .img_curiosidades, .img_curiosidades_menor {
        width: 100%;
    }
    
    .img_curiosidades img, .img_curiosidades_menor img{
        width: 100%;
    }

    .tit_qm_somos h1 {
        margin-top: 150px;
        font-size: 60px;
    }

    .img_qm_somos {
        flex-wrap: wrap;
    }

    .top_qms {
        min-height: 400px;
        height: auto;
        margin: 40px 0;
    }
    
    .bottom_qms {
        margin: 40px 0;
        min-height: 400px;
        height: auto;
    }
    
    .center_qms {
        min-height: 400px;
        height: auto;
        margin: 40px 0;
    }

    #main_galeria_fotos h1 {
        font-size: 26px;
    }

    .imageGallery1 > a {
        width: 50%; 
    }

    @media (max-width: 367px) {
        .fundo_txt_ini_tudo p {
            background-size: cover;
            padding: 10px;
        }
    }
}